{{#each posts as |post|}}
<div>
  <h2><a href="/post/{{post.id}}">{{post.title}} Created On:{{format_date post.date_created}}</a></h2>
</div>
{{/each}}
{{#if logged_in}}
<div>
  <button href="/dashboard" id="new-post-home" class="btn-no-style">New Post</button>
</div>
{{/if}}